<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><?= title ?></title>
        <meta name="description" content="Cholog">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="apple-touch-icon" href="/favicon.ico">
		<!-- See: http://tools.dynamicdrive.com/favicon/ -->
        <!-- Place favicon.ico in the root directory -->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Kanit:400,600' rel='stylesheet' type='text/css'><!-- See: https://www.muicss.com/docs/v1/css-js/buttons -->		
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/third_party/modernizr-2.8.3.min.js"></script>
		<script>
		window.CHOLOG = {
			saveUri: "<?= fullUrl + app.namedRoutes.build('save') ?>"
		};
		</script>
    </head>
    <body>		
	<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->