<?- include('fragments/header') ?>









	<h1 title="Cholog">Cholog <img src="images/cholo.png"></h1>
	<form id="cholog_form" action="" method="post">
		<textarea id="notes" name="notes" placeholder="Place notes here"><?- notes ?></textarea>
	
		<button type="submit" name="save" id="submit" >Save</button>
	</form>
		
		
		
		
		
		
		
		
		
		
<?- include('fragments/footer') ?>