<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"> -->		
		<link href="//cdn.muicss.com/mui-0.6.5/css/mui.min.css" rel="stylesheet" type="text/css"> <!-- See: https://www.muicss.com/docs/v1/css-js/buttons -->		
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/third_party/modernizr-2.8.3.min.js"></script>
		<!-- <script src="//cdn.muicss.com/mui-0.6.5/js/mui.min.js"></script> -->
    </head>
    <body>
		 <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<h1 title="Cholog"><img src="images/cholo.png"></h1>
		<form id="cholog_form" action="" method="post">
			<textarea id="notes" name="notes" placeholder="Place notes here"><%- notes %></textarea>
		
			<button type="submit" name="save" id="submit" class="mui-btn mui-btn--primary">Save</button>
		</form>
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
		<script src="js/cholog.js"></script>
    </body>
</html>